@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
    url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: "Open Sans";
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"),
    url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
    url("../fonts/OpenSans-LightItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
} */

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"),
    url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

/* @font-face {
  font-family: "Open Sans";
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
} */

/* @font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
} */
/* .root {

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
} */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(170, 165, 165);
}
.btn-reset {
  all: initial;
}
.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
}
@media (max-width: 680px) {
  .container {
    padding: 0 15px;
  }
}

/* HEADER */

.header {
  background-color: #000;
  min-height: 100px;
  display: flex;
  margin: 0 auto;
}
.header__container {
  width: 100%;
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__nav {
  position: relative;
  width: 100%;
  max-width: 924px;
}

.header__logo {
  width: 173px;
  height: 40px;
  margin-right: 179px;
}

.header__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.header__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  outline: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.header__item {
  margin-right: 96px;
}
.header__item:last-child {
  margin-right: 0;
}

.header__link:focus {
  background-color: #9d5cd0;
}

.header__link:hover {
  color: #c283f3;
}

.header__link:active {
  color: #7943a4;
  background-color: #000;
}
.header__search-btn {
  margin-left: auto;
  padding-right: 0;
}

.header__search {
  cursor: pointer;
  fill: #fff;
  transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.header__search:focus {
  background-color: #9d5cd0;
  outline: #9d5cd0;
}

.header__search:hover {
  fill: #c283f3;
}

.header__search:active {
  fill: #7943a4;
}

@media (max-width: 1416px) {
  .header {
    min-height: 147px;
  }
  .header__container {
    flex-direction: column;
    padding-top: 0;
    align-items: baseline;
    align-self: self-start;
  }
  .header__nav {
    order: 2;
    margin-bottom: 24px;
  }

  .header__search {
    margin-right: 0;
    top: 39px;
    position: relative;
  }
  .header__logo {
    order: 2;
    width: 188px;
    margin-bottom: 27px;
  }
  .header__nav {
    max-width: 1452px;
  }
}
@media (max-width: 1023px) {
  .header__item {
    margin-right: 24px;
  }
}
@media (max-width: 770px) {
  .header__nav {
    max-width: 664px;
  }
}
@media (max-width: 588px) {
  .header {
    min-height: 78px;
  }

  .header__container {
    width: -moz-available; /* Firefox */
    width: -webkit-fill-available; /* Safari, Chrome, Opera */
    align-items: baseline;
    align-self: baseline;
    padding-top: 16px;
  }
  .header__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
  }
  .header__item {
    margin-right: 25px;
  }
  .header__item:last-child {
    margin-right: 0;
  }

  .header__logo {
    width: 97px;
    height: 22px;
    margin-bottom: 10px;
  }
  .header__search {
    width: 18px;
    height: 18px;
    top: 0;
  }
  .header__search-btn {
    margin-left: auto;
    position: absolute;
    padding-right: 0;
    top: 18px;
    right: 15px;
  }
  .header__nav {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 11px;
  }
}

/* MAILING */

.mailing {
  width: 100%;
  background-image: url(../images/castle-1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mailing__block {
  max-width: 579px;
  padding-top: 146px;
  padding-bottom: 145px;
}

.mailing__block-title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 68px;
  color: #fff;
  margin-bottom: 20px;
}

.mailing__block-subtitle {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin-bottom: 92px;
}

.mailing__block-btn {
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  background-color: #9d5cd0;
  padding: 23px 35px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.mailing__block-btn:focus {
  outline: 2px solid #d1a9f0;
  outline-offset: 2px;
}

.mailing__block-btn:hover {
  outline: 2px solid #d1a9f0;
}

.mailing__block-btn:active {
  background-color: #7943a4;
}

@media (max-width: 1100px) {
  .mailing__block {
    max-width: 695px;
    padding-top: 101px;
    padding-bottom: 99px;
  }

  .mailing__block-subtitle {
    margin-bottom: 133px;
  }
}
@media (max-width: 1020px) {
  .mailing__block {
    padding-top: 86px;
    max-width: 602px;
  }
}
@media (max-width: 800px) {
  .mailing__block {
    padding-bottom: 85px;
  }
}
@media (max-width: 680px) {
  .mailing__block {
    padding-top: 51px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mailing__block-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 11px;
    text-align: center;
  }
  .mailing__block-subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-bottom: 38px;
    max-width: 251px;
  }
  .mailing__block-btn {
    padding: 12px 19px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
}
/* ABOUT */

.about {
  width: 100%;
  background-color: #ffffff;
}
.about__block {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about__title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #000000;
  margin-bottom: 16px;
}

.about__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
  max-width: 1080px;
}

@media (max-width: 630px) {
  .about__block {
    padding-top: 50px;
    padding-bottom: 41px;
  }
  .about__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    margin-bottom: 12px;
  }
  .about__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .about__subtitle {
  }
}
/* GALLERY */

.gallery {
  background-image: url(../images/image-gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.gallery__container {
  padding-top: 81px;
}

.gallery__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.gallery__block-task {
  display: flex;
  flex-direction: column;
  align-self: end;
  padding-left: 24px;
}

.gallery__title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #ffffff;
  margin-bottom: 19px;
}

.gallery__checkbox-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.gallery__image-1 {
  max-width: 350px;
  max-height: 350px;
  margin-right: 50px;
  object-fit: cover;
}

.gallery__image-2 {
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
  margin-right: 50px;
}

.gallery__image-3 {
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 22px;
  padding: 0;
  overflow: hidden;
  border: 0;
  left: -54px;
  top: -19px;
  clip: rect(0 0 0 0);
}

.gallery__checkbox {
  position: relative;
}

.gallery__image {
  display: flex;
  justify-content: space-between;
}

.gallery__checkbox-circle {
  content: "";
  position: absolute;
  left: -23px;
  top: 10px;
  width: 13px;
  height: 13px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  transition: border 0.3s ease-in-out;
  cursor: pointer;
}

.gallery__checkbox-circle::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  width: 12px;
  height: 12px;
  background-image: url(../images/gallery-circle.svg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  opacity: 0;
  border-radius: 3px;
}

.gallery__checkbox-input:checked + .gallery__checkbox-circle::after {
  opacity: 1;
}
@media (max-width: 1467px) {
  .gallery__block {
    display: block;
  }

  .gallery__image-1 {
    width: 275px;
    height: 275px;
  }
  .gallery__image-2 {
    width: 275px;
    height: 275px;
  }
  .gallery__image-3 {
    width: 275px;
    height: 275px;
  }
  .gallery__checkbox {
    margin-bottom: 0px;
  }
  .gallery__title {
    margin-bottom: 17px;
  }
  .gallery__block-task {
    margin-bottom: 29px;
  }
}
@media (max-width: 994px) {
  .gallery__image-1 {
    width: 200px;
    height: 200px;
    margin-right: 18px;
  }
  .gallery__image-2 {
    width: 200px;
    height: 200px;
    margin-right: 18px;
  }
  .gallery__image-3 {
    width: 200px;
    height: 200px;
  }
  .gallery__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 700px) {
  .gallery__image {
    flex-direction: column;
    align-items: center;
  }

  .gallery__image-1 {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .gallery__image-2 {
    width: 100%;
    height: auto;
    padding-left: 0;
    margin-bottom: 29px;
    margin-right: 0;
  }
  .gallery__image-3 {
    width: 100%;
    height: auto;
    padding-left: 0;
  }
}
@media (max-width: 630px) {
  .gallery__container {
    padding-top: 50px;
    padding-bottom: 31px;
  }
  .gallery__block-task {
    margin-bottom: 30px;
  }
  .gallery__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    margin-bottom: 12px;
  }
  .gallery__checkbox {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
  }

  .gallery__block {
    padding-bottom: 20px;
  }
}

/* CATALOG */

.catalog {
  width: 100%;
  background-color: #ffffff;
}

.catalog__title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #000;
  margin-bottom: 16px;
}

.catalog__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
  max-width: 1080px;
  margin-bottom: 38px;
}
.catalog__main-block {
  padding-top: 80px;
  padding-bottom: 53px;
}

.catalog__block {
  display: flex;
  margin-bottom: 50px;
}
.catalog__block:last-child {
  margin-bottom: 0;
}

.catalog__block-image {
  max-width: 750px;
  max-height: 470px;
  margin-right: 50px;
}

.catalog__block-text {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-top: 120px;
}

.catalog__block-name {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #333;
  margin-bottom: 8px;
}

.catalog__block-date {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #999;
  margin-bottom: 15px;
}

.catalog__block-about {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
}
@media (max-width: 1467px) {
  .catalog__block {
    flex-direction: column;
  }
  .catalog__block-image {
    max-width: 100%;
    max-height: fit-content;
    margin-right: 0;
  }
  .catalog__block-text {
    max-width: 922px;
    padding-top: 31px;
  }
  .catalog__block-name {
    margin-bottom: 9px;
  }
  .catalog__block-date {
    margin-bottom: 15px;
  }
}
@media (max-width: 800px) {
  .catalog__main-block {
    padding-bottom: 49px;
  }
  .catalog__subtitle {
    margin-bottom: 40px;
  }
  .catalog__block-date {
    margin-bottom: 5px;
  }
  .catalog__block-name {
    margin-bottom: 12px;
  }
  .catalog__block-text {
    padding-top: 29px;
  }
}
@media (max-width: 630px) {
  .catalog__main-block {
    padding: 0 15px;
    padding-top: 51px;
    padding-bottom: 29px;
  }
  .catalog__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 11px;
  }
  .catalog__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
  }
  .catalog__block-text {
    padding-top: 19px;
  }
  .catalog__block-name {
    letter-spacing: 0.2px;
    margin-bottom: 8px;
  }
  .catalog__block-date {
    margin-bottom: 13px;
  }
  .catalog__block {
    margin-bottom: 30px;
  }
  .catalog__block:last-child {
    margin-bottom: 0;
  }
}
/* EVENTS */

.events {
  width: 100%;
  background-color: #fff;
}
.events__main-block {
  padding-top: 29px;
}
.events__container {
  display: flex;
  justify-content: space-between;
}

.events__title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #333;
  margin-bottom: 16px;
}

.events__block-image {
  margin-bottom: 11px;
  width: 100%;
}

.events__block {
  max-width: 500px;
  border: 1px solid #cacaca;
  min-height: 700px;
  position: relative;
  margin-bottom: 80px;
}
.events__block:not(:last-child) {
  margin-right: 27px;
}
.title-hidden {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 7px;
  letter-spacing: 0.6px;
  max-width: 488px;
  padding-top: 37px;
}

.events__block-date {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  color: #999999;
  margin-bottom: 11px;
  max-width: 165px;
}

.events__block-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
  max-width: 338px;
}

.events__block-subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #333;
  max-width: 400px;
}
.events__block-text {
  padding-left: 50px;
}

.events__block-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #9d5cd0;
  position: absolute;
  bottom: 39px;
  left: 50px;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
  padding-bottom: 1px;
  outline: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.events__block-link:focus {
  background-color: #9d5cd0;
  color: #ffffff;
}
.events__block-link:active {
  color: #333333;
  background-color: transparent;
}
@media (max-width: 1464px) {
  .events__block-text {
    padding-left: 33px;
  }
}

@media (max-width: 1100px) {
  .events__block-date {
    max-width: 223px;
    text-align: right;
    margin-bottom: 3px;
  }
  .events__block {
    min-height: 682px;
  }
  .events__block-image {
    min-height: 198px;
  }
  .events__block-date {
    max-width: 223px;
    text-align: right;
    margin-bottom: 3px;
  }
  .events__block-title {
    max-width: 229px;
    margin-bottom: 7px;
  }
  .events__block-subtitle {
    max-width: 220px;
    font-size: 16px;
    letter-spacing: 0;
  }
  .events__block-link {
    bottom: 48px;
    left: 33px;
  }
}
@media (max-width: 970px) {
  .events__container {
    flex-direction: column;
  }

  .events__block-title {
    margin-bottom: 13px;
  }
  .events__block-image {
    min-height: 200px;
    padding-bottom: 0;
  }
  .events__block {
    width: 100%;
    max-width: inherit;
  }
  .events__block-date {
    margin-left: auto;
    margin-right: 31px;
  }
  .events__block-title {
    display: none;
    max-width: 488px;
  }
  .events__block-subtitle {
    max-width: 602px;
  }
  .events__block {
    margin-right: 0;
    margin-bottom: 29px;
    min-height: 529px;
  }

  .title-hidden {
    display: flex;
  }
}
@media (max-width: 630px) {
  .events__main-block {
    padding-top: 21px;
  }
  .events__block-text {
    padding-left: 22px;
  }
  .events__block {
    min-height: 684px;
    margin-bottom: 18px;
  }

  .events__block-link {
    bottom: 48px;
    left: 28px;
  }
  .events__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    margin-bottom: 12px;
  }
  .events__block-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    margin-right: 18px;
    margin-bottom: 11px;
  }
  .events__block-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    padding-right: 39px;
    margin-bottom: 5px;
  }
  .events__block-subtitle {
    font-size: 16px;
  }
  .events__block-link {
  }
  .events__block-image {
    margin-bottom: 12px;
  }
}
@media (max-width: 350px) {
  .events__block-subtitle {
    max-width: 252px;
  }
}
/* PROJECT */

.projects {
  width: 100%;
  background-color: #fff;
}
.projects__main-block {
  padding-bottom: 57px;
}

.projects__block {
  display: flex;
  flex-wrap: wrap;
}

.projects__title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #333;
  margin-bottom: 15px;
}

.projects__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
  margin-bottom: 30px;
  max-width: 1068px;
}
.projects__block-img {
  margin-right: 34px;
}

.projects__partners {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333;
  margin-bottom: 16px;
}
.projects__block-logo {
  margin-bottom: 20px;
}

@media (max-width: 1300px) {
  .projects__subtitle {
    margin-bottom: 21px;
  }
  .projects__block-img {
    margin-right: 27px;
  }
}
@media (max-width: 1000px) {
  .projects__main-block {
    padding-top: 50px;
  }
  .projects__title {
    margin-bottom: 16px;
  }
  .projects__subtitle {
    max-width: 657px;
    margin-bottom: 28px;
  }
  .projects__block-img {
    margin-right: 34px;
  }

  .projects__block-logo {
    max-width: 317px;
  }
  .projects__partners {
    margin-bottom: 31px;
  }
}
@media (max-width: 630px) {
  .projects__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media (max-width: 344px) {
  .projects__main-block {
    padding-top: 32px;
    padding-bottom: 0;
  }
  .projects__block-logo {
    width: 100%;
    margin-bottom: 8px;
  }
  .projects__subtitle {
    max-width: 287px;
    margin-bottom: 21px;
  }
  .projects__title {
    margin-bottom: 13px;
  }
  .projects__partners {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;

    text-align: left;
  }
  .projects__block-img {
    margin-right: 0;
  }
  .projects__partners {
    margin-bottom: 10px;
  }
}

/* connection */

.connection {
  width: 100%;
  padding-top: 35px;
  border-top: 1px solid #808080;
  background-color: #fff;
}

.connection__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  align-items: center;
}

.connection__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333;
}

.connection__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
}

.connection__form-input {
  cursor: pointer;
  border-radius: 100px;
  max-width: 270px;
  max-height: 50px;
  padding: 8px 42px;
  margin-right: 11px;
  transition: background-color 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.connection__form-input:hover {
  background-color: #ececec;
}

.connection__text {
  max-width: 335px;
  margin-right: 6px;
}

.connection__social-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333;
  margin-bottom: 7px;
}

.connection__form {
}

.connection__form-btn {
  padding: 12px 40px;
  font-size: 21px;
  font-weight: 700;
  color: #9d5cd0;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #9d5cd0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    outline 0.2s ease-in-out, outline-offset 0.2s ease-in-out;
}
.connection__form-hidden {
  display: none;
}
.error {
  color: #ff0000;
}
.connection__social-link-tg {
  width: 40px;
  height: 40px;
  outline: none;
}
.connection__social-link-wa {
  width: 40px;
  height: 40px;
  outline: none;
}

.connection__form-btn:focus {
  outline: 2px solid #d1a9f0;
  outline-offset: 5px;
  background-color: #9d5cd0;
  color: #fff;
}

.connection__form-btn:hover {
  outline: 2px solid #d1a9f0;
  outline-offset: 5px;
}

.connection__form-btn:active {
  background-color: #7943a4;
  color: #ffffff;
}

.connection__social-link-wa {
  cursor: pointer;
  fill: #30bf39;
  transition: opacity 0.2s ease-in-out;
}

.connection__social-link-wa:hover {
  opacity: 0.7;
}

.connection__social-link-wa:focus {
  opacity: 0.7;
}

.connection__social-link-wa:active {
  outline: 1px solid #9d5cd0;
  border-radius: 50%;
  opacity: 1;
}

.connection__social-links:not(:last-child) {
  margin-right: 16px;
}

.connection__social-link-tg {
  cursor: pointer;
  fill: #26a5e4;
  transition: opacity 0.2s ease-in-out;
}

.connection__social-link-tg:hover {
  opacity: 0.7;
}

.connection__social-link-tg:focus {
  opacity: 0.7;
}

.connection__social-link-tg:active {
  outline: 1px solid #9d5cd0;
  border-radius: 50%;
  opacity: 1;
}
@media (max-width: 1546px) {
  .connection {
    padding-top: 41px;
  }
  .connection__container {
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 39px;
  }
  .connection__title {
    margin-bottom: 2px;
  }
  .connection__text {
    margin-bottom: 19px;
  }
  .connection__subtitle {
    font-size: 14px;
    line-height: 35px;
  }

  .connection__form {
    margin-bottom: 25px;
  }
  .connection__form-input {
    padding: 8px 40px;
    margin-right: 15px;
  }
  .connection__form-btn {
    padding: 14px 44px;
  }
  .connection__social-text {
    margin-bottom: 7px;
  }
  .connection__social-links:not(:last-child) {
    margin-right: 16px;
  }
}
@media (max-width: 1014px) {
  .connection__title {
    margin-bottom: 0;
  }
  .connection__subtitle {
    line-height: 43px;
  }
  .connection__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .connection__form-input {
    padding: 8px 44px;
    padding-left: 23px;
    width: 100%;
    max-width: 324px;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .connection__social {
  }
  .connection__form-btn {
    padding: 12px 28px;
    margin-bottom: 1px;
  }
}
@media (max-width: 750px) {
  .connection__form-input {
    max-width: 540px;
  }
  .connection__form-name {
    margin-bottom: 20px;
  }
  .connection__form-input {
    padding: 2px 22px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
  }
  .connection__form-btn {
    display: none;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  .connection__form-hidden {
    display: inline;
    text-align: center;
    padding: 4px 28px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    border-color: #9d5cd0;
    color: #9d5cd0;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .connection__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    margin-bottom: 0;
  }
  .connection__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media (max-width: 630px) {
  .connection__form {
    margin-bottom: 9px;
  }
  .connection__container {
    padding: 0 15px;
    padding-bottom: 47px;
  }
  .connection__text {
    margin-bottom: 13px;
  }
  .projects__block {
    margin-bottom: 0;
  }
  .connection {
    border-top: none;
    padding-top: 39px;
  }
  .connection__form-hidden {
    padding: 6px 33px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .connection__social-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }

  .connection__social-link-tg {
    width: 50px;
    height: 50px;
  }
  .connection__social-link-wa {
    width: 50px;
    height: 50px;
  }
}

/* FOOTER */

.footer {
  background-color: #000;
  margin: 0 auto;
  max-height: 133px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 36px;
  align-items: center;
}

.footer__links-vk {
  margin-right: 15px;
  width: 45px;
  height: 45px;
  fill: #cacaca;
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
}

.footer__links-vk:hover {
  fill: #ffffff;
}

.footer__links-vk:focus {
  fill: #ffffff;
}

.footer__links-vk:active {
  fill: #9d5cd0;
}

.footer__links-ok {
  fill: #cacaca;
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
}

.footer__links-ok:hover {
  fill: #ffffff;
}

.footer__links-ok:focus {
  fill: #ffffff;
}

.footer__links-ok:active {
  fill: #9d5cd0;
}
@media (max-width: 1300px) {
  .footer__container {
    padding-top: 40px;
  }
  .footer__links-ok {
    width: 60px;
    height: 60px;
  }
  .footer__links-vk {
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }
  .footer__links {
  }
}

@media (max-width: 630px) {
  .footer__container {
    padding-top: 50px;
  }
}

@media (max-width: 418px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__links-ok {
    width: 50px;
    height: 50px;
  }
  .footer__links-vk {
    width: 50px;
    height: 50px;
  }

  .footer__container {
    padding-top: 20px;
  }

  .footer__links {
    margin-bottom: 16px;
  }
  .footer__logo-img {
    width: 97px;
  }
}
#scrollToTopButton {
  display: none;
}
@media (max-width: 768px) {
  #scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #9d5cd0;
    opacity: 0.7; /* Устанавливаем прозрачность кнопки */
    border-radius: 5px; /* Добавляем закругление углов */
    padding: 10px 15px;
    color: #ffffff;
    font-weight: bold;
  }

  #scrollToTopButton.show {
    display: block;
  }
}
.details {
  background-image: url(../images/detail.jpeg);
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Высота блока будет занимать 100% видимой части экрана */
}
.details__block {
  font-size: 50px;
  color: #f4f7f8;
  opacity: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 1s ease-in-out;
}

.details__block.show {
  opacity: 1;
}
